/*font*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");

/* reset all styles*/
@import "reset.css";

/* variables set */
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/alt-screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";

/* Screen */
@import "screen/header.css";
@import "screen/login-form.css";
@import "screen/friends.css";
@import "screen/find.css";
@import "screen/more.css";
@import "screen/setting.css";

body {
  font-family: "Open Sans", sans-serif;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}

.exclamation-mark {
  display: block;
  text-align: center;
  width: 11px;
  height: 11px;
  margin-left: 5px;
  border: 2px solid tomato;
  border-radius: 50%;
  color: tomato;
  font-weight: bold;
}
