.nav {
  /* 위치를 아래에 고정 */
  position: fixed;
  bottom: 0;
  width: 100%;

  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  /* 
  width가 100%인 상태에서 padding을 주면 width가 더 늘어남 
  => box-sizing: border-box;을 설정함으로써 box size를 유지하라고 알림
  */
  border-top: var(--normal-border);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e363e;
  position: relative;
}

.nav__notification {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.nav__update-notification {
  background-color: tomato;
  display: flex;
  width: 6px;
  height: 6px;
  border-radius: 50%;

  position: absolute;
  left: 30px;
}
